@*@model RoleBaseProject.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>EditUserViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@




@model yusuanxiangmu.Models.EditUserViewModel

@{
    ViewBag.Title = "资料者资料编辑";
}

@*<h2>资料者资料编辑</h2>*@
<div style="padding-bottom:5px">
    当前位置：| &gt;参数设置  &gt; 用户管理 &gt; 编辑用户资料
    <br />

</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>修改原有账号资料</h4>*@

        <div class="form-group">
            <div class="col-md-5"></div>

            <div class="col-md-2">
                <h3>修改原有账户资料</h3>
            </div>
            <div class="col-md-5"></div>
        </div>


        <hr />
        @Html.ValidationSummary(true)


        






        @*这里的显示形式，@Html.EditorFor(model => model.UserName)，在火狐上没有显示出bootstrap的特性，在这里全部改为 @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })*@


        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>



        @*<div class="form-group">
            <div class="col-md-2"></div>
            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
            <div class="col-md-2"></div>
        </div>*@


        @*<div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <div class="col-md-6"></div>
        </div>*@


        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>




        @*<div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            <div class="col-md-6"></div>
        </div>*@



        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>



        @*<div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="col-md-6"></div>
        </div>*@


        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-1"></div>
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="保存" class="btn btn-default" />
                <button type="button" class="btn btn-primary" onclick="window.location.href = '@Url.Action("Index", "Account")'">返 回</button>
            </div>
            @*<div class="col-md-6"></div>*@
        </div>






    </div>
}

<div>
    @Html.ActionLink("回到使用者清单页面", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}