@model yusuanxiangmu.Models.xiangmuzongbiao

@{
    ViewBag.Title = "Create";
}
<link href="~/Content/datepicker.css" rel="stylesheet" media="screen">

<div style="padding-bottom:5px">
    当前位置：| &gt;项目录入  &gt; 单个录入
    <br />
</div>

<div class="form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-5"></div>

            <div class="col-md-2">
                <h3>预算项目单个录入</h3>
            </div>
            <div class="col-md-5"></div>
        </div>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.niandu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @*<input type="text" name="niandu" id="t" value="@DateTime.Now.ToString("yyyy")" class="form-control">*@
                <select name="niandu" class="form-control">
                    @{ int chushinian = int.Parse(DateTime.Now.ToString("yyyy"));}
                    @for (int i = -5; i < 6; i++)
                    {                        
                        if (i == 0)      //在i= 0 的时候，初始年为今年
                        {
                            <option value=@chushinian selected="selected">@chushinian</option>;
                        }
                        else
                        {
                            <option value=@(chushinian+i)>@(chushinian + i)</option>;
                        }                        
                    }
                </select>
                @Html.ValidationMessageFor(model => model.niandu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.xiangmuleibie, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <select name="xiangmuleibie" class="form-control">
                    @*这里的name要该为xiangmuleibie是什么意思*@
                    @*<option selected="selected"></option>*@
                    <option></option>
                    <option>教学</option>
                    <option>科研</option>
                    <option>行政</option>
                    <option>后勤</option>
                    <option>离退休</option>
                </select>
                @Html.ValidationMessageFor(model => model.xiangmuleibie, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.mingcheng, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.mingcheng, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.mingcheng, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.shangcaixiangmuhao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.shangcaixiangmuhao, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.shangcaixiangmuhao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.lierulanmu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.lierulanmu, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.lierulanmu, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.bianhao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.bianhao, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.bianhao, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-1"></div>
            <div class="control-label col-md-2">
                @Html.LabelFor(model => model.zhixingdanwei)
            </div>
            <div class="input-group col-md-6" style="padding-left:15px;">
                <input type="text" name="zhixingdanwei" id="t" value=" " class="form-control">
                <select name="sel" id="sel" style="display:none;" class="form-control">
                    @foreach (var item in ViewBag.zxdanwei)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <span class="input-group-btn"><button class="btn btn-default" type="button" onclick="showSelect()"><i class="glyphicon glyphicon-th"></i></button></span>
                @Html.ValidationMessageFor(model => model.zhixingdanwei, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.lianxiren, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.lianxiren, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lianxiren, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.jine, new { @class = "control-label col-md-2" })
            <div class="col-md-6 ">
                <div class="input-group">
                    @Html.TextBoxFor(model => model.jine, new { @class = "form-control" })
                    <span class="input-group-addon">万元</span>
                </div>
                @Html.ValidationMessageFor(model => model.jine, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.xiangmufenlei, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <select name="xiangmufenlei" class="form-control">
                    @*<option selected="selected">学校</option>*@
                    <option></option>
                    <option>学校</option>
                    <option>个人</option>
                </select>
                @Html.ValidationMessageFor(model => model.xiangmufenlei, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.zijinlaiyuan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <select name="zijinlaiyuan" class="form-control">
                    @*<option selected="selected">网上指标</option>*@
                    <option></option>
                    <option>网上指标</option>
                    <option>基本户</option>
                    <option>校内追加</option>
                </select>
                @Html.ValidationMessageFor(model => model.zijinlaiyuan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.xiangmulaiyuan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.xiangmulaiyuan, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.xiangmulaiyuan, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.zijinxingzhi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.zijinxingzhi, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.zijinxingzhi, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.xiabobumen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.xiabobumen, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.xiabobumen, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group ">
            <div class="col-md-1"></div>
            <div class="control-label col-md-2">
                @Html.LabelFor(model => model.xiadariqi)
            </div>
            <div class="input-group date form_date col-md-6 " data-date="" data-date-format="yyyy-mm-dd" style="padding-left:15px;">
                @Html.TextBoxFor(model => model.xiadariqi, new { @class = "form-control" })
                @*<span class="input-group-addon"> <i class="glyphicon glyphicon-th"></i></span>*@
                <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="glyphicon glyphicon-th"></i></button></span>
                @Html.ValidationMessageFor(model => model.xiadariqi, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.xiadaqingkuang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.xiadaqingkuang, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.xiadaqingkuang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.xiaozhanghui, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <label class="checkbox-inline">
                    <input type="radio" name="xiaozhanghui" id="optionsRadios3"
                           value="同意立项">同意立项
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="xiaozhanghui" id="optionsRadios4"
                           value="不同意立项" checked> 不同意立项
                </label>
                @Html.ValidationMessageFor(model => model.xiaozhanghui, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.dangweihui, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <label class="checkbox-inline">
                    <input type="radio" name="dangweihui" id="optionsRadios5"
                           value="同意立项">同意立项
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="dangweihui" id="optionsRadios6"
                           value="不同意立项" checked> 不同意立项
                </label>
                @Html.ValidationMessageFor(model => model.dangweihui, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.shenpiliucheng, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.shenpiliucheng, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.shenpiliucheng, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.beizhu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @*@Html.TextAreaFor(model => model.beizhu, new { htmlAttributes = new { @class = "col-md-5" } })*@
                <textarea name="beizhu" class="form-control" rows="3"></textarea>
                @Html.ValidationMessageFor(model => model.beizhu, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class=" col-md-4">

                <button type="submit" class="btn btn-primary">创 建</button>
                <span>&nbsp;&nbsp;</span>
                <button type="button" class="btn btn-primary" onclick="window.location.href = '@Url.Action("Index", "Home")'">返 回</button>
            </div>
            <div class="col-md-5"></div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js" charset="UTF-8"></script>
<script type="text/javascript" src="~/Content/bootstrap-datepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="~/Content/bootstrap-datepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">

    $('.form_date').datepicker({
        todayBtn: "linked",
        language: "zh-CN",
        orientation: "bottom auto",
        autoclose: true,
        todayHighlight: true
    });
    //$('#sandbox-container .input-group.date').datepicker({
    //    language: "zh-CN"
    //});
</script>
<script type="text/javascript">
    function showSelect() {
        var _t = document.getElementById('t');
        var _s = document.getElementById('sel');
        if (_t.style.display == '') {
            _t.style.display = 'none';
            _t.name = "tex";
            _s.name = "zhixingdanwei";
        }
        else {
            _t.style.display = '';
            _s.name = "sel";
            _t.name = "zhixingdanwei";
        }

        if (_s.style.display == 'none') {
            _s.style.display = '';
            _t.name = "tex";
            _s.name = "zhixingdanwei";

        }
        else {
            _s.style.display = 'none';
            _s.name = "sel";
            _t.name = "zhixingdanwei";
        }
    }
</script>