@model yusuanxiangmu.Models.xiangmuzongbiao
@{
    ViewBag.Title = "Delete";
}
<div style="padding-bottom:5px">
    当前位置：| &gt;项目查询  &gt; 项目删除
    <br />

</div>
<div class="form-horizontal">   
    <div class="form-group">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <h3>您确定要删除这条记录吗？</h3>
        </div>
        <div class="col-md-4"></div>
    </div>
    <hr />  

    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.niandu, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.niandu, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.niandu, "", new { @class = "text-danger" })
        </div>
    </div>   

    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.xiangmuleibie, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.xiangmuleibie, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.xiangmuleibie, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.mingcheng, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.mingcheng, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.mingcheng, "", new { @class = "text-danger" })
        </div>
    </div>
       
    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.shangcaixiangmuhao, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.shangcaixiangmuhao, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.shangcaixiangmuhao, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.lierulanmu, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.lierulanmu, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.lierulanmu, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.bianhao, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.bianhao, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.bianhao, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.zhixingdanwei, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.zhixingdanwei, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.zhixingdanwei, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.lianxiren, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.lianxiren, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.lianxiren, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.jine, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.jine, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.jine, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.xiangmufenlei, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.xiangmufenlei, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.xiangmufenlei, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.zijinlaiyuan, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.zijinlaiyuan, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.zijinlaiyuan, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.xiangmulaiyuan, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.xiangmulaiyuan, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.xiangmulaiyuan, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.zijinxingzhi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.zijinxingzhi, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.zijinxingzhi, "", new { @class = "text-danger" })
        </div>
    </div>

    
    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.xiabobumen, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.xiabobumen, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.xiabobumen, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.xiadariqi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.xiadariqi, new { @class = "form-control", Value = Model.xiadariqi.ToString("yyyy-MM-dd"), @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.xiadariqi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.xiadaqingkuang, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.xiadaqingkuang, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.xiadaqingkuang, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.xiaozhanghui, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.xiaozhanghui, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.xiaozhanghui, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.dangweihui, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.dangweihui, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.dangweihui, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.lururen, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @*@Html.EditorFor(model => model.lururen, new { htmlAttributes = new { @class = "form-control" } })*@
            <input name="lururen" class="form-control" value="@Model.lururen" disabled />
            @Html.ValidationMessageFor(model => model.lururen, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.lururiqi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6 ">
            @*@Html.EditorFor(model => model.lururiqi, new { htmlAttributes = new { @class = "form-control" } })*@
            <input name="lururiqi" class="form-control" value="@Model.lururiqi" disabled />
            @Html.ValidationMessageFor(model => model.lururiqi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.shenheren, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">

            <input name="shenheren" class="form-control" value="@Model.shenheren" disabled />
            @Html.ValidationMessageFor(model => model.shenheren, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.shenheriqi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6 ">

            <input name="lururiqi" class="form-control" value="@Model.shenheriqi" disabled />
            @Html.ValidationMessageFor(model => model.shenheriqi, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.shenhezhuangtai, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6 ">
            <input name="lururiqi" class="form-control" value="@Model.shenhezhuangtai" disabled />
            @Html.ValidationMessageFor(model => model.shenhezhuangtai, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.shenpiliucheng, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            <input name="shenheren" class="form-control" value="@Model.shenpiliucheng" disabled />
            @Html.ValidationMessageFor(model => model.shenpiliucheng, "", new { @class = "text-danger" })
        </div>
    </div>    

    <div class="form-group   has-error">
        <div class="col-md-1"></div>
        @Html.LabelFor(model => model.beizhu, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">            
            <textarea name="beizhu" class="form-control" rows="3" disabled style="padding:2px 14px; font-size:15px"> @Model.beizhu</textarea>            
            @Html.ValidationMessageFor(model => model.beizhu, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group   has-error">
        <div class="col-md-3"></div>
        <div class="col-md-4">
            @using (Html.BeginForm())
            {                
                @Html.AntiForgeryToken()                
                  <input type="hidden" name="nianduzhi" value=@ViewBag.nianduzhi />
                  <input type="hidden" name="searchzhi" value=@ViewBag.searchzhi />
                  <input type="hidden" name="shenhejieguozhi" value=@ViewBag.shenhejieguozhi />
                  <input type="hidden" name="sortOrderzhi" value=@ViewBag.sortOrderzhi />                
                <div class="form-actions no-color">
                    <button type="submit" class="btn btn-primary">删 除</button>
                    <button type="button" class="btn btn-primary" onclick="window.location.href = '@Url.Action("Index", "Home", new { sortOrder = @ViewBag.sortOrderzhi, searchString = @ViewBag.searchzhi, niandu = @ViewBag.nianduzhi, shenhejieguo = @ViewBag.shenhejieguozhi })'">返 回</button>
                </div>
            }
        </div>
        <div class="col-md-5"></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
